* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

.header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.right-header input {
    width: 250px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
}

.right-header i {
    font-size: 20px;
    color: rgb(59, 59, 59);
}

.right-header i:hover {
    cursor: pointer;
}

.right-header h4 {
    font-size: 18px;
    color: rgb(59, 59, 59);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50px;
    width: 100px;
    text-align: center;
}

.logo h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 300;
}

.second {
    height: 89vh;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1524532787116-e70228437bbe?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.second h1 {
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding-top: 50px;
    padding-left: 20px;
}

.second h1 span {
    display: inline-block;
}

.second h4 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 50px;
    padding-left: 20px;
}

.second button {
    width: 150px;
    height: 30px;
    background-color: rgb(59, 59, 59);
    color: rgb(255, 255, 62);
    border: none;
    border-radius: 50px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}

.t1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.t1 h3 {
    font-weight: 300;
}

.t1 button {
    width: 120px;
    height: 30px;
    border-radius: 50px;
    border-radius: 1px solid black;
    background-color: transparent;
}

.t2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.t2-1 img {
    height: 400px;
    width: 370px;
    border-radius: 20px;
    backdrop-filter: grayscale(10%);
    transition: 0.5s ease-in;
}

.t2-1 img:hover {
    cursor: pointer;
    height: 420px;
}

.t2-1 h3 {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}

.forth {
    height: 150vh;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1488704906310-183eeda75d51?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    margin-top: 100px;
    background-position: center;
    background-attachment: fixed;
}

.forth h1:nth-child(1) {
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding-top: 40px;
    padding-left: 20px;
}

.forth h1:nth-child(2) {
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding-left: 20px;
}

.forth h3 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 50px;
    padding-left: 20px;
}

.forth button {
    width: 150px;
    height: 30px;
    background-color: rgb(59, 59, 59);
    color: rgb(255, 255, 62);
    border: none;
    border-radius: 50px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}

.f-buy {
    height: 230px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.683);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    transform: translate(130%, 20%);
}

.f-buy img {
    height: 230px;
    width: 330px;
}

.f-buy-inner {
    line-height: 20px;
    text-align: center;
}

.f-buy-inner button {
    width: 120px;
    font-family: 17px;
}

.f-line {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    width: 110%;
    height: 40px;
}


.forth-1 {
    height: 130vh;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1491553895911-0055eca6402d?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    margin-top: 100px;
    background-position: center;
    background-attachment: fixed;
}

.forth-1 h1:nth-child(1) {
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding-top: 40px;
    padding-left: 20px;
}

.forth-1 h1:nth-child(2) {
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding-left: 20px;
}

.forth-1 h3 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 50px;
    padding-left: 20px;
}

.forth-1 button {
    width: 150px;
    height: 30px;
    background-color: rgb(59, 59, 59);
    color: rgb(255, 255, 62);
    border: none;
    border-radius: 50px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}

.f-buy-1 {
    height: 230px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.683);
    padding: 15px;
    border-radius: 10px;
    transform: translate(130%, 20%);
}

.f-buy-1 h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-right: 20px;
}

.f-buy-1 p {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-right: 20px;
}

.forth-1 button {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.swiper {
    width: 70%;
    height: 100%;
    margin-top: 100px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 50px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review {
    height: 65vh;
    width: 100%;
}

.review-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.review h3 {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding-top: 40px;
    padding-left: 20px;
}

.review button {
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    width: 130px;
    margin-left: 45px;
    margin-top: 20px;
}

.footer {
    height: 80vh;
    width: 100%;
    background-color: black;
    color: white;
}

.footer h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150px;
    padding: 20px;
}

.innerFooter {
    margin-top: 50px;
    height: 30vh;
    width: 100%;
    display: flex;
}

.innerFooter p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}