@media only screen and (max-width: 600px) {
    .right-header h4 {
        display: none;
    }

    .right-header i {
        display: none;
    }

    .t2-1 img {
        width: 90%;
        margin: 20px;
    }

    .t2-1 h3 {
        margin-left: 30px;
    }

    .t2-1 h3:nth-child(3) {
        margin-bottom: 30px;
    }

    .f-line {
        display: none;
    }

    .forth-1 h1 {
        font-size: 30px;
    }

    .review-1 button {
        display: none;
    }

    .swiper {
        width: 100%;
    }

    .footer {
        width: 90vh;
    }

    .innerFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}